<h2>Details Post</h2>

<p>

<%=@row['Content'] %>
 <br>
<%=@row['create_date'] %>
</p>

<br>
<h4>Comments</h4>
<form action="/details/<%=@row['id']%>" method="POST" role="form">
  
<textarea name="content" class="form-control" rows="3"></textarea>

<br>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>