<h2>Последние посты</h2>

<% @result.each do |post| %>

	<p>
	<%=post['Content'] %>
<br><br>
<%=post['create_date'] %>
	<br>
	<a hr="/post/<%= post['id'] %>">Comments</a>

	</p>
<hr>
	<% end %>