<h1>Новый Пост</h1>

<form action="/new" method="POST" role="form">
  
<textarea name="content" class="form-control" rows="3"></textarea>

<br>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>